apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-ingress
  namespace: microservice-api-gitops-demo
  annotations:
    kubernetes.io/ingress.class: "traefik"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
spec:
  rules:
    - host: argocd.0xkatana.site
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: argocd-demo-server
                port:
                  number: 443
  tls:
    - hosts:
        - argocd.0xkatana.site
      secretName: argocd-tls